# Go Template Project service
[Unit]
Description=go-template
After=network.target

[Service]
LimitNOFILE=65535
ExecStart=/usr/local/bin/go-template -c /etc/go-template.config
Restart=always

[Install]
WantedBy=multi-user.target